<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <div class="page-header">
      <h1 class="logo">Busca<span class="logo grey">DOU</span></h1>

      <p class="tagline">Receba um alerta quando palavras do seu interesse aparecerem no Diário Oficial da União
        (DOU)</p>
    </div>
  </div>

  <div class="col-sm-3"></div>
</div>

<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <div class="alert alert-dismissible alert-info">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Cadastro realizado com sucesso!</strong> Verifique seu email para confirmar o cadastro e ativar o serviço.
    </div>

    <div class="alert alert-dismissible alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>Ops, ocorreu um erro!</strong> O termo informado já está cadastrado.
      <a href="#" class="alert-link">Enviar novo email de confirmação.</a>
    </div>

    <%= form_tag principal_path, method: "post" do %>
      <div class="form-group">
        <%= label_tag :termo, "Termo" %>
        <%= text_field_tag :termo, nil, class: "form-control", placeholder: "Insira a palavra ou frase a ser vigiada", required: true, autofocus: true, maxlength: 100 %>
        <span id="termHelpBlock" class="help-block">O termo informado será pesquisado como uma frase.</span>
      </div>

      <div class="form-group">
        <%= label_tag :email, "Email" %>
        <%= text_field_tag :email, nil, class: "form-control", placeholder: "Insira o seu email", required: true, maxlength: 100 %>
      </div>

      <%= submit_tag "Cadastrar termo", class: "btn btn-primary"%>
    <% end %>
  </div>

  <div class="col-sm-3"></div>
</div>